<tr>
  <td>
    <%= item.name %>
  </td>
  <td>
  <small> Days until item is deleted: </small>
  </td>
  <td>
    <%= link_to "Completed", user_item_path(current_user, item), method: :delete, remote: true,  class: "btn btn-success"%>
  </td>
</tr>
